$font-stack: 'Montserrat', sans-serif;
$beige: #FEF5E7;
$light-brown: #E3BD97;
$dark-brown: #947870;
$accent: #FE8C6D;
$black: #2B2624;
$radius: 3px;
$section-border: 2px solid $light-brown;

* {
  outline: none;
  font-family: $font-stack;
  color: $dark-brown;
  background-color: $beige;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid $accent;
}

li:hover {
  color: $accent;
  transition: all .3s linear;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: $beige;
}

ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.carousel, .contact-form {
  border: 1px solid $light-brown;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.icon {
  color: $accent;
  cursor: pointer;
}

.icon-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.parallax {
  z-index: 1;
  img {
    width: 100%;
  }
}

.pic {
  height: 170px;
  width: 170px;
  border: 1px solid $light-brown;
  padding: 10px;
  margin: 5px;
  border-radius: $radius;
  cursor: pointer;
}

.section-title {
  text-align: center;
  margin-top: 50px;
}

#logo {
  width: 80px;
}


