$font-stack: 'Montserrat', sans-serif;

// $beige: #FFFBF1;
// $border-color: #E3BD97;
// $text-color: #947870;
// $accent: #FE8C6D;

$beige: #F9F7F4;
$text-color: #364C53;
$border-color: #A46938;
$accent: #ADB5BA;

$black: #2B2624;
$radius: 3px;
$section-border: 2px solid $border-color;

@mixin flex-values($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  outline: none;
  font-family: $font-stack;
  color: $text-color;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid $text-color;
}

li:hover {
  color: $accent;
  font-weight: bold;
  transition: all .3s linear;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: $beige;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid $accent;
}

ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.about-section {
  background-color: $accent;
}
.about-photos {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.about-pic {
  width: 40%;
}

.arrow {
  // border: 2px solid pink;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.banner {
  border-top: 5px solid $border-color;
}

.carousel {
  background-image: url('lippel_photos/table1-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-container {
  @include flex-values(row, space-between, center);
}

.carousel-container, .form {
  border: $section-border;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.icon {
  color: $accent;
  cursor: pointer;
}

.icon-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.img-container {
  width: 100%;
  @include flex-values(row, center, center);
}


.parallax {
  z-index: 1;
  img {
    width: 100%;
  }
}

.pic {
  height: 170px;
  width: 170px;
  border: 1px solid $border-color;
  padding: 10px;
  margin: 5px;
  border-radius: $radius;
  cursor: pointer;
  background-size: cover;
  transition: all .2s ease-in;
}

.pic:hover {
  box-shadow: 2px 2px 5px $text-color;
  border: 1px solid $text-color;
}

.section-title {
  text-align: center;
  margin-top: 50px;
}

#about1 {
  background-image: url("lippel_photos/workshop.JPG");
  background-size: contain;
}

#about2 {
  background-image: url("lippel_photos/workshop2.JPG");
  background-size: contain;
}

#logo {
  width: 80px;
}

#pic1 {
  background-image: url('img/chuttersnap-176806-compressed.jpg');
}

#pic2 {
  background-image: url('img/delanoix2-compressed.jpg');
}

#pic3 {
  background-image: url('img/clem-onojeghuo.jpg');
}

#submit-btn {
  width: 25%;
  color: $beige;
  border-radius: $radius;
  background-color: $text-color;
  border: 2px $accent outset;
}


