$font-stack: 'Montserrat', sans-serif;
$beige: #FEF5E7;
$light-brown: #E3BD97;
$dark-brown: #947870;
$accent: #FE8C6D;
$black: #2B2624;
$radius: 5px;
$section-border: 2px solid $light-brown;

* {
  outline: none;
  font-family: $font-stack;
  color: $dark-brown;
}




